form{
border:inset;
margin: 25%;
padding: 20%;
color: blue;
font-family: fantasy;
content: icon;
text-align: left;
}
input{
  content: icon;
  align-self: flex-end;
  border:solid;
  margin: 5%;
  padding: 2%;
  color: red;
}